name: Sign & Publish
on:
  workflow_dispatch:
permissions:
  contents: read
jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Build, Sign & Publish Plugin
        run: ./gradlew clean publishPlugin
        env:
          ORG_GRADLE_PROJECT_CERTIFICATE_CHAIN: ${{ secrets.CERTIFICATE_CHAIN }}
          ORG_GRADLE_PROJECT_PRIVATE_KEY: ${{ secrets.PRIVATE_KEY }}
          ORG_GRADLE_PROJECT_PRIVATE_KEY_PASSWORD: ${{ secrets.PRIVATE_KEY_PASSWORD }}
          ORG_GRADLE_PROJECT_PUBLISH_TOKEN: ${{ secrets.PUBLISH_TOKEN }}
